.ui-frame-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
    /*padding: 0.8em 0.8em;*/
    margin: 0.8em 0;
    background: var(--bg-elevated);
    border: 2px solid var(--border-subtle);
    border-radius: var(--radius-control);
}
